
<div class="container">
  <h1 class="mb-4 text-center">Welcome to Gaming Platform</h1>
  
  <div class="row g-3 justify-content-center">
    <div class="col-10 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="/attached_assets/wingo.png" class="card-img-top" alt="Wingo">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Wingo</h5>
          <p class="card-text">Test your luck with our exciting number guessing game!</p>
          <a href="/games/wingo" class="btn btn-primary mt-auto">Play Now</a>
        </div>
      </div>
    </div>
    
    <div class="col-10 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="/attached_assets/avaitor.png" class="card-img-top" alt="Aviator">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Aviator</h5>
          <p class="card-text">Fly high and cash out at the right moment!</p>
          <a href="/games/aviator" class="btn btn-primary mt-auto">Play Now</a>
        </div>
      </div>
    </div>
    
    <div class="col-10 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="/attached_assets/slots.png" class="card-img-top" alt="Slots">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Slots</h5>
          <p class="card-text">Classic slot machine with amazing rewards!</p>
          <a href="/games/slots" class="btn btn-primary mt-auto">Play Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
